<!DOCTYPE html>
<html class="no-js"><!--<![endif]-->
<head>


    <!-- Google Tag Manager -->
    <script src="https://connect.facebook.net/signals/config/277894659540202?v=2.9.62&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" id="topmailru-code" src="https://top-fwz1.mail.ru/js/code.js"></script>
    <script async="" src="https://mc.yandex.ru/metrika/tag.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async=""
            src="https://www.googletagmanager.com/gtag/js?id=G-ZQFJKHPQM4&amp;l=dataLayer&amp;cx=c"></script>
    <script type="text/javascript" src="//an.yandex.ru/system/context.js" async=""></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WD9PVN"></script>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WD9PVN');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="7PZr_nCnNVlGZzo6gcsypemJxucZUTEqm6c6wRGdD8g">
    <meta name="yandex-verification" content="785755a4b507e306">
    <meta name="yandex-verification" content="c5310103307889e7">
    <meta name="yandex-verification" content="626d78dea98f4554">
    <meta name="google-site-verification" content="s6yoRMWqqno0NuC_yZRwjnpdopZUNuofhjlt5ID1BHI">
    <meta property="og:title" content="Торговая площадка и интернет-аукцион Auction.ru">
    <meta property="og:type" content="website">

    <meta name="title" content="Торговая площадка и интернет-аукцион Auction.ru">

    <title>Торговая площадка и интернет-аукцион Auction.ru</title>

    <link rel="stylesheet" href="https://auction.ru/css/bootstrap/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://auction.ru/css/main.css?rnd=218">

    <link rel="canonical" href="https://auction.ru/">

    <base href="http://127.0.0.1:5000/">

    <script src="https://auction.ru/js/bootstrap/bootstrap.min.js"></script>

    <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-381105-4q7nf" style="position:fixed; left:-999px;" alt=""/>
    </noscript>

    <script charset="utf-8" src="https://yastatic.net/partner-code-bundles/595423/5bc40a78395e6ea0f3b1.js"
            crossorigin="anonymous" importance="high"></script>
    <script charset="utf-8" src="https://yastatic.net/partner-code-bundles/595423/1a44d2989d56a2da134f.js"
            crossorigin="anonymous" importance="high"></script>
    <script async="" crossorigin="anonymous" src="https://yastatic.net/safeframe-bundles/0.83/host.js"></script>
    <meta id="https://yastatic.net/partner-code-bundles/595423/context_static.js">
    <script charset="utf-8" src="https://yastatic.net/partner-code-bundles/595423/4fdd7c49816368d8b003.js"
            crossorigin="anonymous" importance="high"></script>
    <script async="" crossorigin="anonymous"
            src="https://yastatic.net/pcode-static/measurers/61/media/weborama.js"></script>
    <style nonce="">#9c1b335936 {
        width: 1px;
        height: 1px;
        position: relative;
    }</style>
    <style nonce="">#id4237 {
        width: 1px;
        height: 1px;
        top: 0px;
        left: 0px;
        position: absolute;
    }</style>
</head>
<body style="overflow-x: hidden !important;">


<div class="wrapper body_wrapper">

    <header>
        <nav class="navbar navbar-inverse navbar-static-top no-flick">
            <div class="container hidden-xs">
                <div class="collapse navbar-collapse" id="globalNavbar">
                </div>
                <div class="hidden-xs" id="rightNavbar">
                    <ul>
                        <li data-nosnippet="">
                            <a href="{{ url_for('auth.signup') }}" class=" universal_link_white_color"
                               style="padding-right: 10px;">Регистрация</a>
                        </li>
                        <li data-nosnippet="">
                            <a href="{{ url_for('auth.login') }}"
                               class=" universal_link_white_color count_new_offer_contener">Войти</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="logo_block hidden-xs">
                    <a href="/src/app/static" class="header__logo">
                        <img src="/images/ru_logo.svg?rnd=218" alt="Торговая площадка и интернет-аукцион" width="217"
                             height="55">
                    </a></div>
                <div class="basket_block hidden-xs">

                    <noindex>
                        <a class="btn_basket" href="/cart">
                            <span class="icon"></span>
                            <span class="header_text_basket universal_link_black_color" id="cartTotalAmount">
            Корзина пуста        </span>
                        </a>
                    </noindex>
                </div>
            </div>
        </div>
    </header>

    <div class="container ">
        <div class="main padding-xs-side-19">
            <div class="wrap">
                <div class="row showcase_row">
                    <div class="showcase_side   visible-xs visible-sm hidden-md visible-lg col-xs-12 col-lg-3 slick-initialized slick-slider">
                        <div aria-live="polite" class="slick-list draggable" tabindex="0">
                            <div class="slick-track"
                                 style="opacity: 1; width: 720px; transform: translate3d(0px, 0px, 0px);">
                                <div class="showcase__item slick-slide slick-active" data-slick-index="0"
                                     aria-hidden="false" style="width: 720px;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row content promo_container first">

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/5_funtov_1966_god_rodezija_zoloto_917_proby_40_gramm_tirazh_3000_sht_redkost_110-i225973412336075.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/06/02/04/small/B/b9Lbr1otBbx/5_funtov_1966_god_rodezija_zoloto_917_proby_40_gramm_tirazh_3000_sht_redkost_110.jpg"
                                         alt="5 фунтов 1966 год. Родезия. Золото 917 пробы - 40 грамм. Тираж 3000 шт.  Редкость! #110">
                                </div>
                            </a>

                            <a href="/offer/5_funtov_1966_god_rodezija_zoloto_917_proby_40_gramm_tirazh_3000_sht_redkost_110-i225973412336075.html"
                               class="carousel__item__title">
                                <div class="title_box">5 фунтов 1966 год. Родезия. Золото 917 пробы - 40 грамм. Тираж
                                    3000 шт. Редкость! #110
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            166&nbsp;661<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/zoloto_583_proby_sssr_prekrasnoe_azhurnoe_zolotoe_kolco_s_bolshim_jarkim_jantarem_zheltok-i225712228987185.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/05/30/03/small/5/5sK3rEpjx1P/zoloto_583_proby_sssr_prekrasnoe_azhurnoe_zolotoe_kolco_s_bolshim_jarkim_jantarem_zheltok.jpg"
                                         alt="ЗОЛОТО 583 ПРОБЫ СССР!! ПРЕКРАСНОЕ АЖУРНОЕ ЗОЛОТОЕ КОЛЬЦО С БОЛЬШИМ, ЯРКИМ ЯНТАРЕМ ЖЕЛТОК!!">
                                </div>
                            </a>

                            <a href="/offer/zoloto_583_proby_sssr_prekrasnoe_azhurnoe_zolotoe_kolco_s_bolshim_jarkim_jantarem_zheltok-i225712228987185.html"
                               class="carousel__item__title">
                                <div class="title_box">ЗОЛОТО 583 ПРОБЫ СССР!! ПРЕКРАСНОЕ АЖУРНОЕ ЗОЛОТОЕ КОЛЬЦО С
                                    БОЛЬШИМ, ЯРКИМ ЯНТАРЕМ ЖЕЛТОК!!
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            29&nbsp;500<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/as_denga_1805_em_r_561-i220768794889263.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/04/03/10/small/N/n74dAig3bzP/as_denga_1805_em_r_561.jpg"
                                         alt="*AS*  Деньга 1805 ЕМ (R)  [561]">
                                </div>
                            </a>

                            <a href="/offer/as_denga_1805_em_r_561-i220768794889263.html" class="carousel__item__title">
                                <div class="title_box">*AS* Деньга 1805 ЕМ (R) [561]</div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            37&nbsp;000<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/2_kopejki_1927_sssr_unc_super_v_takoj_sokhrannosti_tolko_v_kollekcijakh_predlozhite_vashu_cenu_u-i225819328878115.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/05/31/08/small/L/L9Zxra6ElGY/2_kopejki_1927_sssr_unc_super_v_takoj_sokhrannosti_tolko_v_kollekcijakh_predlozhite_vashu_cenu_u.jpg"
                                         alt="2 КОПЕЙКИ 1927    СССР  UNC СУПЕР  (В ТАКОЙ СОХРАННОСТИ ТОЛЬКО В КОЛЛЕКЦИЯХ) ПРЕДЛОЖИТЕ ВАШУ ЦЕНУ У">
                                </div>
                            </a>

                            <a href="/offer/2_kopejki_1927_sssr_unc_super_v_takoj_sokhrannosti_tolko_v_kollekcijakh_predlozhite_vashu_cenu_u-i225819328878115.html"
                               class="carousel__item__title">
                                <div class="title_box">2 КОПЕЙКИ 1927 СССР UNC СУПЕР (В ТАКОЙ СОХРАННОСТИ ТОЛЬКО В
                                    КОЛЛЕКЦИЯХ) ПРЕДЛОЖИТЕ ВАШУ ЦЕНУ У
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            850&nbsp;000<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/1995_g_500000_rublej_slab_pmg_66_epq_ap_1988935-i223449711096986.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/05/04/10/small/A/a87QNnrE3Kx/1995_g_500000_rublej_slab_pmg_66_epq_ap_1988935.jpg"
                                         alt="1995г 500000 рублей слаб PMG-66 EPQ   (АП 1988935)">
                                </div>
                            </a>

                            <a href="/offer/1995_g_500000_rublej_slab_pmg_66_epq_ap_1988935-i223449711096986.html"
                               class="carousel__item__title">
                                <div class="title_box">1995г 500000 рублей слаб PMG-66 EPQ (АП 1988935)</div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            160&nbsp;000<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/5_kopeek_1926_unc_ms63_ngc-i219851217225460.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/05/23/12/small/K/k62W3pWytTN/5_kopeek_1926_unc_ms63_ngc.jpg"
                                         alt="5 копеек 1926 UNC MS63 NGC">
                                </div>
                            </a>
                            <a href="/offer/5_kopeek_1926_unc_ms63_ngc-i219851217225460.html"
                               class="carousel__item__title">
                                <div class="title_box">5 копеек 1926 UNC MS63 NGC</div>
                            </a>
                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            24&nbsp;500<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                </div>
                <div class="row content promo_container ">

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/zoloto_585_proby_okhrannyj_persten_s_nebesnym_akvamarinom_izgotovlennyj_masterskoj_v_mikhajlova-i226400515120532.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/06/07/02/small/Q/qRvamW6mO2x/zoloto_585_proby_okhrannyj_persten_s_nebesnym_akvamarinom_izgotovlennyj_masterskoj_v_mikhajlova.jpg"
                                         alt="ЗОЛОТО 585 ПРОБЫ! ОХРАННЫЙ ПЕРСТЕНЬ С НЕБЕСНЫМ АКВАМАРИНОМ ИЗГОТОВЛЕННЫЙ МАСТЕРСКОЙ В.МИХАЙЛОВА!">
                                </div>
                            </a>

                            <a href="/offer/zoloto_585_proby_okhrannyj_persten_s_nebesnym_akvamarinom_izgotovlennyj_masterskoj_v_mikhajlova-i226400515120532.html"
                               class="carousel__item__title">
                                <div class="title_box">ЗОЛОТО 585 ПРОБЫ! ОХРАННЫЙ ПЕРСТЕНЬ С НЕБЕСНЫМ АКВАМАРИНОМ
                                    ИЗГОТОВЛЕННЫЙ МАСТЕРСКОЙ В.МИХАЙЛОВА!
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            21&nbsp;555<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container" data-ending_time="1655656200">

                            <a href="/offer/100_rublej_1993_god_sokhranim_nash_mir_buryj_medved_zoloto_999_proby_15_55_gramm_mmd_84-i226581908356445.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/06/09/04/small/J/jXLxJPeKXvR/100_rublej_1993_god_sokhranim_nash_mir_buryj_medved_zoloto_999_proby_15_55_gramm_mmd_84.jpg"
                                         alt="100 рублей 1993 год. Сохраним наш мир. Бурый медведь. Золото 999 пробы - 15.55 грамм. ММД. #84">
                                </div>
                            </a>

                            <a href="/offer/100_rublej_1993_god_sokhranim_nash_mir_buryj_medved_zoloto_999_proby_15_55_gramm_mmd_84-i226581908356445.html"
                               class="carousel__item__title">
                                <div class="title_box">100 рублей 1993 год. Сохраним наш мир. Бурый медведь. Золото 999
                                    пробы - 15.55 грамм. ММД. #84
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            26&nbsp;500<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container" data-ending_time="1655748000">

                            <a href="/offer/1_rubl_1898_g_ag_pamjatnik_imperatoru_aleksandru_ii_dvorik_kollekcionnyj_ekzempljar_tirazh_5_000_sht-i226337092021778.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/06/06/08/small/T/tISYfl8eUg5/1_rubl_1898_g_ag_pamjatnik_imperatoru_aleksandru_ii_dvorik_kollekcionnyj_ekzempljar_tirazh_5_000_sht.jpg"
                                         alt="1 рубль 1898 г (АГ) Памятник Императору Александру II Дворик Коллекционный экземпляр тираж 5 000 шт.">
                                </div>
                            </a>

                            <a href="/offer/1_rubl_1898_g_ag_pamjatnik_imperatoru_aleksandru_ii_dvorik_kollekcionnyj_ekzempljar_tirazh_5_000_sht-i226337092021778.html"
                               class="carousel__item__title">
                                <div class="title_box">1 рубль 1898 г (АГ) Памятник Императору Александру II Дворик
                                    Коллекционный экземпляр тираж 5 000 шт.
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            99&nbsp;000<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container" data-ending_time="1655403316">

                            <a href="/offer/rrr_chuchelo_gigantskoj_cherepakhi_loggerkhend_s_kuby_1961_1962_karibskij_krizis_original-i226299666824566.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/05/13/04/small/C/cob2IwcTVpu/rrr_chuchelo_gigantskoj_cherepakhi_loggerkhend_s_kuby_1961_1962_karibskij_krizis_original.jpg"
                                         alt="RRR!!!ЧУЧЕЛО ГИГАНТСКОЙ ЧЕРЕПАХИ &quot;ЛОГГЕРХЕНД&quot; С КУБЫ 1961-1962 КАРИБСКИЙ КРИЗИС!!!ОРИГИНАЛ!!!">
                                </div>
                            </a>

                            <a href="/offer/rrr_chuchelo_gigantskoj_cherepakhi_loggerkhend_s_kuby_1961_1962_karibskij_krizis_original-i226299666824566.html"
                               class="carousel__item__title">
                                <div class="title_box">RRR!!!ЧУЧЕЛО ГИГАНТСКОЙ ЧЕРЕПАХИ "ЛОГГЕРХЕНД" С КУБЫ 1961-1962
                                    КАРИБСКИЙ КРИЗИС!!!ОРИГИНАЛ!!!
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            3&nbsp;425<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container" data-ending_time="1655059570">

                            <a href="/offer/2_soverena_1823_god_zoloto_916_proby_ves_16_gramm_velikobritanija_rrr_1_2_425-i226326618813712.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/06/07/04/small/H/hq9J229IlkS/2_soverena_1823_god_zoloto_916_proby_ves_16_gramm_velikobritanija_rrr_1_2_425.jpg"
                                         alt="2 соверена 1823 год. Золото 916 пробы. вес 16 грамм. Великобритания. RRR 1.2.425">
                                </div>
                            </a>

                            <a href="/offer/2_soverena_1823_god_zoloto_916_proby_ves_16_gramm_velikobritanija_rrr_1_2_425-i226326618813712.html"
                               class="carousel__item__title">
                                <div class="title_box">2 соверена 1823 год. Золото 916 пробы. вес 16 грамм.
                                    Великобритания. RRR 1.2.425
                                </div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            106&nbsp;000<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="offer_container">

                            <a href="/offer/10_rublej_1909_goda_zoloto-i226324054642817.html"
                               class="carousel__item__photo ">
                                <div class="mainpage_offer_photo_container">
                                    <img class="img-responsive"
                                         src="https://static.auction.ru/offer_images/rd48/2022/06/06/05/small/V/vKSzxLe3vIn/10_rublej_1909_goda_zoloto.jpg"
                                         alt="10 рублей 1909 года, золото,">
                                </div>
                            </a>

                            <a href="/offer/10_rublej_1909_goda_zoloto-i226324054642817.html"
                               class="carousel__item__title">
                                <div class="title_box">10 рублей 1909 года, золото,</div>
                            </a>

                            <span class="carousel__item__sub">
        <span class="carousel__item__small"></span>
        <span class="carousel__item__price">
            90&nbsp;000<span class="rouble">a</span>        </span>
    </span>
                        </div>
                    </div>
                </div>
                <div id="backtotop"><span class="backtotop-wrapper">↑</span> TOP</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>